.dropdown-wrapper {
    position: relative;
    width: 200px;
  }
  
.dropdown-wrapper .dropdown {
background: #fff;
width: 200px;
height: 100px;
position: absolute;
top: 50px;
left: 0;
font-family: "Open Sans";
font-size: 22px;
display: flex;
align-items: center;
}